*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(100, 100, 100, 1),rgba(150,150,150,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #1d2b3a;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 50px;
    margin-top: -150px;
}
.content p{
    margin: 20px auto;
    font-size: 20px;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #1d2b3a;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #1d2b3a;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
#output1
{
    color: #1d2b3a;
}
.content input{
    position: relative;
    width: 250px;
}

.content input{
    width: 13%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.749);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em; 
}

.content p1{
    font-size: 20px;
    color: #1d2b3a;
    width: 50%;
    padding-top: 50px;
}

.content h1{
    padding-top: 50px;
    padding-bottom: 50px;
}

.content h2{
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content textarea{
    padding-top: 3px;
    padding-left: 3px;
}

